nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin: 0 10x;
  padding: 5px;
  text-decoration: none;
  color: #646cff;
}

nav a:hover {
  color: #3f49ff;
}

/* .active{
  background-color: #000;
  color: #fff;
} */